@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

/* TODO: do we need orange? */
@theme {
  --font-poppins: "Poppins", sans-serif;

  --color-background: #1b1a32;
  --color-surface: #363362;
  --color-input: #434076;
  --color-text-primary: #ffecd6;
  --color-red: #ee3f3f;
  --color-orange: #ff8f44;
  --color-yellow: #ffda36;
  --color-green: #4ade80;

  --color-foreground: var(--color-text-primary);

  --color-popover: var(--color-background);
  --color-popover-foreground: var(--color-text-primary);

  --color-muted: var(--color-surface);
  --color-muted-foreground: var(--color-text-primary);

  --color-border: var(--color-surface);

  /* States */
  --color-destructive: var(--color-red);
  --color-destructive-foreground: var(--color-text-primary);
  --color-success: var(--color-green);
}

@layer base {
  body {
    @apply bg-background text-text-primary font-poppins;
  }
}

@utility page-root {
  @apply flex h-screen flex-col overflow-hidden;
}

@utility btn-surface {
  @apply bg-surface text-text-primary transition-shadow duration-200 hover:bg-input drop-shadow-sm;
}

@utility btn-lg {
  @apply rounded-2xl px-3! py-4!;
}
